{% extends "layout.html" %}

{% block title %}
    Contacts
{% endblock %}

{% block main %}
<script type="text/javascript">
    function confirm_click()
    {
        return confirm("Are you sure you want to delete this contact?");
    }    
</script>

<div class="section" style="text-align: left;">
    <h2>Contacts</h2>
    <div class="section" style="text-align: right;">
        <a class="btn btn-primary" href="/contact/create" role="button">New Contact</a>
    </div>
</div>
<div class="section">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Type</th>
                <th>Agency</th>
            </tr>
        </thead>
        <tbody>
            {% for contacts in contacts %}
            <tr>
                <td>{{ contacts.name }}</td>
                <td>{{ contacts.email }}</td>
                <td>{{ contacts.phone }}</td>
                <td>{{ contacts.type }}</td>
                <td>{{ contacts.agency }}</td>
                <td><a href="/contact/edit/{{ contacts.id }}">Edit</a></td>
                <td><a title="Delete Contact" onclick="return confirm_click();" href="/contact/delete/{{ contacts.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}